<h2>Edit post</h2>

<form method="post" action="/posts/<%= post.id %>/edit?_method=PUT" enctype="multipart/form-data">
    <label for="">Content</label>
    <input name="content" class="post_content" type="text" value="<%= post.content %>">
    <label for="">image url</label>
    <input name="image_url" type="file">
    <button class="formButton">Update</button>
</form>