<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/"><img src="https://res.cloudinary.com/dpokug3s4/image/upload/v1695867929/file-upload/yhryudpvrbehll6kcro8.png" id="trademark" alt=""></a>
        <a href="/"><i class="fa fa-fw fa-home"></i>&nbsp;Home</a>
        <a href="/posts/new"><i class="fa-sharp fa-solid fa-plus"></i>&nbsp;Create post</a>
        <a href="/signup"><i class="fa-solid fa-user-plus"></i>&nbsp;Signup</a>
        <div class="form-wrapper">
        <% if (userId) { %>
            <form action="/logout" method="post" class="form-wrapper">
                <a href="/posts/mypage"><i class="fa-solid fa-cat"></i>&nbsp;<%= user.email %></a>
                <input type="hidden" name="_method" value="delete">
                <button>Logout</button>
            </form>
        <% } else { %>
                <a href="/login" class="form-wrapper"><i class="fa-solid fa-user"></i>&nbsp;Login</a>
        <% } %>
        </div>
    </nav>
    <div class="body-wrapper">
        <%- body %>
    </div>
    <script src= "<%= process.env.FONTAWESOME %>" crossorigin="anonymous"></script>
</body>
</html>