<h2>Create a new post</h2>

<form action="/posts" method="post" enctype="multipart/form-data">
    <input name="content" type="text" class="post_content" placeholder="What is happening?!">
    <label for="">Upload image</label>
    <input name="image_url" type="file">
    <button class="formButton">Publish</button>
</form>