<h2>Create a new post</h2>

<form action="/posts" method="post">
    <label for="">Content</label>
    <input name="content" type="text" id="post_content">
    <label for="">image url</label>
    <input name="image_url" type="text">
    <button>Publish</button>
</form>